<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/auth"></ion-back-button>
          </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="margin-top: 10px; height:60%" box-shadow>
        <ion-card-content>
    
         
    
           
    
            <ion-item-divider style="margin-top: 60px;">
            
              </ion-item-divider>
              <ion-item >
                <ion-input type="email" placeholder="Email" [(ngModel)]="formReset.email"></ion-input>
              </ion-item>
            
              <ion-button  expand="block" style="margin-top:15px;" box-shadow (click)="doReset(formReset.email)">
                  Send Password Reset Link
              </ion-button>
        
        </ion-card-content>
      </ion-card>
     

</ion-content>
