<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
    <ion-title text-center><h4>Change password</h4></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
    <form [formGroup]="form" padding>
  
        <ion-item>
            <ion-label position="floating">Current Password</ion-label>
          <ion-input  type="password"  formControlName="currentPassword"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input type="password"   formControlName="newPassword"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Confirm New Password</ion-label>
              <ion-input type="password"  formControlName="confirmNewPassword"></ion-input>
            </ion-item>
          
             
            
      
        <ion-button  expand="block" box-shadow (click)="postForm()" [disabled]="!form.valid" >
          Change password
        </ion-button>
        </form>

</ion-content>
