.lowercase
{
    text-transform: none;
}
.forumtitle{
    font-weight: bold;float:right;text-align: center
}
ul{
    list-style: none;
}
.articlecontent p,.articlecontent li{
    font-size: 12px!important;

}