<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
          </ion-buttons>
    <ion-title>new-news</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   
    <form [formGroup]="form">
  
        <ion-item>
          <ion-input   formControlName="title" placeholder="Title"></ion-input>
        </ion-item>
        <!-- <ion-item style="margin-top:10px;margin-bottom:10px;"> -->
          <!-- <ion-textarea row="10" type="string" formControlName="description" placeholder="Description"></ion-textarea> -->
          <ckeditor [editor]="Editor" formControlName="description" [config]="{ toolbar: ['|', 'bold', 'italic','bulletedList', 'numberedList','imageUpload'] }"  (ready)="onReady($event)"></ckeditor>
       <!--    <ion-item>
          <ion-textarea formControlName="description"></ion-textarea>
          </ion-item> -->
        
        <!-- </ion-item> -->

       
           
            <ion-item>
                <ion-label>Type</ion-label>
                <ion-select text-center placeholder="Select Type " formControlName="typeID">
                    <ion-select-option   value="News">News</ion-select-option>
                    <ion-select-option   value="Event">Event</ion-select-option>
                </ion-select>
              </ion-item>

       
          <ion-item>
              <ion-label>Status</ion-label>
             
                  <ion-select text-center placeholder=" Status " formControlName="status">
                      <ion-select-option   value="0">Unpublished</ion-select-option>
                      <ion-select-option   value="1">Published</ion-select-option>
                  </ion-select>
               
            </ion-item>
            

            <ion-item>
                <ion-label> Category</ion-label>
                <ion-select  formControlName="category"  placeholder=" Category " >
                    <ion-select-option   *ngFor="let item of catagories" [value]="item.id">{{item.en_name}}</ion-select-option>
                  </ion-select>
              </ion-item>
           

            <ion-item>
                <ion-label>Contact Group</ion-label>
                <ion-select  text-center formControlName="group"  placeholder="Contact Group" >
                    <ion-select-option   *ngFor="let item of contacts" [value]="item.id">{{item.en_title}}</ion-select-option>
                  </ion-select>
              </ion-item>
        
         <ion-item>
            <input type="file" accept=".png, .jpg, .jpeg" class="custom-file-input" formControlName="group" (change)="onFileChange($event)">
          </ion-item> 
      
        <ion-button *ngIf="!editOrSave"  expand="block" box-shadow (click)="postForm()" [disabled]="!form.valid" >
          Submit
        </ion-button>
        <ion-button *ngIf="editOrSave" expand="block" box-shadow (click)="editform()" [disabled]="!form.valid" >
          Update
        </ion-button>
      </form>
</ion-content>
