<ion-header>
  <ion-toolbar *ngIf="catagoryName" >
      <!-- {{ 'FORUM' | translate }} -->
    <ion-button fill="clear"  slot="end" [routerLink]="['/new-article']"  [queryParams]="{categaryid:catagoryName.id,catagoryName:catagoryName.en_title}"><ion-icon color="energized"  name='add' ></ion-icon></ion-button>

    <ion-title *ngIf="catagoryName" >

          <!--     <p  class="vw" *ngIf="translate.currentLang=='fa'">{{catagoryName.da_title}}</p>
              <p class="vw"  *ngIf="translate.currentLang=='en'">{{catagoryName.en_title}}</p>
              <p class="vw"  *ngIf="translate.currentLang=='ps'">{{catagoryName.ps_title}}</p> -->
              <ion-item *ngIf="catagories">
                  <!-- <ion-label>{{ 'SELECT_LANGUAGE' | translate }}</ion-label> -->
                  <ion-select style="font-size:12px"  class="myCustomSelect" [(ngModel)]="SelectedCatagory" placeholder="Select Category " interface="popover" (ionChange)='changeCategory()' [cancelText]="'CANCEL' | translate">
                    <!-- <ion-option *ngFor="let item of languages" [value]="item.code">{{item.name}}</ion-option> -->
                    <ion-select-option  style="font-size:12px" *ngFor="let item of catagories" [value]="item.id">{{item.en_title}}</ion-select-option>
                  </ion-select>
                </ion-item>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="logout" autoHide="false"></ion-menu-button>
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  
 
  <div text-center>
    <ion-spinner *ngIf="loading"></ion-spinner>
  </div>
  <ion-list>
    <ion-card *ngFor="let item of Articals; let i = index">
      <ion-item *ngIf="item" >          
        <ion-avatar (click)="presentModal(item.user_id)"  slot="start">
          <img src="{{item.user.image?(ServerUrl+item.user.image):(item.user.gender==1?Maleimage:Femaleimage)}}">
        </ion-avatar>
        <ion-label>{{item.user.name}}
         <p style="font-size: 12px;" text-left>{{item.created_at}}</p></ion-label>
         <ion-buttons fill="clear" *ngIf="item.user_id==userID || userType==1"  left>
            <ion-button ion-button fill="clear" (click)="presentActionSheet(item.id,i,item.body,item.title)"  icon-only >
              <ion-icon color="dark" name="more"></ion-icon>
            </ion-button>
          </ion-buttons>        
      </ion-item>
      <ion-card-content>
          <p color="primary" class="forumtitle" >{{item.title}} : </p><br>
        <div class="articlecontent" [innerHTML]="item.body|keepHtml"></div>
      </ion-card-content>
    <ion-grid>
        <ion-row no-padding>
            <ion-col no-padding>
                <ion-button no-padding (click)="LikeCliked(item.id,i)" class="upperrow" color="primary"  class="lowercase" fill="clear" size="small" expand='block'>
           
            {{item.likes.length}}  <ion-icon name='thumbs-up'></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col no-padding>
                <ion-button no-padding class="upperrow" (click)="commentPost(item.id)"  color="primary"  class="lowercase"  fill="clear" size="small" expand='block'>
           
             {{item.comments.length}}  <ion-icon name='text'></ion-icon>
             </ion-button>

              
            </ion-col>
            <ion-col no-padding>        
                <ion-button no-padding  class="upperrow" color="primary"  class="lowercase"  fill="clear" size="small" expand='block'>
           
                {{item.replies.length}}  <ion-icon name='repeat'></ion-icon>
                </ion-button>
            </ion-col>
          </ion-row>
        <ion-row no-padding *ngIf="!checkIfLiked(userID,item.likes)">
            
            <ion-col no-padding *ngIf="checkIfLiked(userID,item.likes)">
                <ion-button no-padding color="danger" class="lowercase" (click)="LikeCliked(item.id,i)" fill="clear" size="small" expand='block'>
                    <ion-icon color="energized" isActive="false" name='thumbs-up'></ion-icon>
                    {{ 'LIKES' | translate }}
                </ion-button>
               
            </ion-col>
            <ion-col no-padding>
                <ion-button no-padding fill="clear" color="primary" class="lowercase" (click)="commentPost(item.id)" size="small" expand='block'>
                    <ion-icon name='text'></ion-icon>
                    {{ 'COMMENTS' | translate }}
                </ion-button>
            </ion-col>
            <ion-col no-padding>
                <ion-button no-padding fill="clear" class="lowercase" color="primary" size="small" expand='block'>
                    <ion-icon name='repeat'></ion-icon>
                    {{ 'REPLIES' | translate }}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>  
    <ion-item-divider style="min-height: 5px;"></ion-item-divider>
    <div (click)="commentPost(item.id)" *ngFor="let cmt of item.comments;let first=first;let last=last;">
      
       <div *ngIf="first">
         <ion-item style="margin-left: 30px;">
          <ion-avatar   slot="start">
              <img src="{{cmt.user.image?(ServerUrl+cmt.user.image):(cmt.user.gender==1?Maleimage:Femaleimage)}}">
            </ion-avatar>
            <ion-label>{{cmt.user.name}}
           
             <div  class="ion-no-padding ion-text-wrap"  style="font-size: 12px; color: rgb(24, 24, 27);" [innerHTML]="cmt.reply"></div></ion-label>
            </ion-item>
       </div>
      
     </div> 
    </ion-card>






   <!--  <ion-card *ngFor="let item of ArticleModelArray; let i = index">
      <ion-item *ngIf="item" >          
        <ion-avatar (click)="presentModal(item.id)"  slot="start">
          <img src="{{item.postedByImage?(ServerUrl+item.postedByImage):(item.postedByGender==1?Maleimage:Femaleimage)}}">
        </ion-avatar>
        <ion-label>{{item.postedby}}
         <p style="font-size: 12px;" text-left>{{item.postedOn}}</p></ion-label>
         <ion-buttons fill="clear" *ngIf="item.postedby==userID || userType==1"  left>
            <ion-button ion-button fill="clear" (click)="presentActionSheet(item.id,i,item.content,item.title)"  icon-only >
              <ion-icon color="dark" name="more"></ion-icon>
            </ion-button>
          </ion-buttons>        
      </ion-item>
      <ion-card-content>
          <p color="primary" class="forumtitle" >{{item.title}} : </p><br>
        <div class="articlecontent" [innerHTML]="item.content|keepHtml"></div>
      </ion-card-content>
    <ion-grid>
        <ion-row no-padding>
            <ion-col no-padding>
                <ion-button no-padding (click)="LikeCliked(item.id,i)" class="upperrow" color="primary"  class="lowercase" fill="clear" size="small" expand='block'>
           
            {{item.totalLikes}}  <ion-icon name='thumbs-up'></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col no-padding>
                <ion-button no-padding class="upperrow" (click)="commentPost(item.id)"  color="primary"  class="lowercase"  fill="clear" size="small" expand='block'>
           
             {{item.totalComments}}  <ion-icon name='text'></ion-icon>
             </ion-button>

              
            </ion-col>
            <ion-col no-padding>        
                <ion-button no-padding  class="upperrow" color="primary"  class="lowercase"  fill="clear" size="small" expand='block'>
           
                {{item.totalReplies}}  <ion-icon name='repeat'></ion-icon>
                </ion-button>
            </ion-col>
          </ion-row>
        <ion-row no-padding *ngIf="!checkIfLiked(userID,item.likes)">
            
            <ion-col no-padding >
                <ion-button no-padding color="danger" class="lowercase" (click)="LikeCliked(item.id,i)" fill="clear" size="small" expand='block'>
                    <ion-icon color="energized" isActive="false" name='thumbs-up'></ion-icon>
                    {{ 'LIKES' | translate }}
                </ion-button>
               
            </ion-col>
            <ion-col no-padding>
                <ion-button no-padding fill="clear" color="primary" class="lowercase" (click)="commentPost(item.id)" size="small" expand='block'>
                    <ion-icon name='text'></ion-icon>
                    {{ 'COMMENTS' | translate }}
                </ion-button>
            </ion-col>
            <ion-col no-padding>
                <ion-button no-padding fill="clear" class="lowercase" color="primary" size="small" expand='block'>
                    <ion-icon name='repeat'></ion-icon>
                    {{ 'REPLIES' | translate }}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>  
     <ion-item-divider style="min-height: 5px;"></ion-item-divider>
    <div (click)="commentPost(item.id)" *ngFor="let cmt of item.comments;let first=first;let last=last;">
      
       <div *ngIf="first">
         <ion-item style="margin-left: 30px;">
          <ion-avatar   slot="start">
              <img src="{{cmt.user.image?(ServerUrl+cmt.user.image):(cmt.user.gender==1?Maleimage:Femaleimage)}}">
            </ion-avatar>
            <ion-label>{{cmt.user.name}}
           
             <div  class="ion-no-padding ion-text-wrap"  style="font-size: 12px; color: rgb(24, 24, 27);" [innerHTML]="cmt.reply"></div></ion-label>
            </ion-item>
       </div>
      
     </div>  
    </ion-card>-->





  </ion-list> 
  <ion-infinite-scroll *ngIf="Articals && Articals.length" (ionInfinite)="loadMoreArticles($event)">
    <ion-infinite-scroll-content loadingText="Loading more posts..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
