<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
          </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form *ngIf="user" [formGroup]="form">

        <ion-item>
            <ion-label position="floating">Name</ion-label>
          <ion-input    formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Last Name</ion-label>
          <ion-input    formControlName="last_name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Email</ion-label>
          <ion-input    formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Contact No</ion-label>
          <ion-input    formControlName="mobile"></ion-input>
        </ion-item>
        <ion-item>
            <img src="{{user.image?(ServerUrl+user.image):(user.gender==1?Maleimage:Femaleimage)}}" padding >
        </ion-item>

        <ion-item>
          <input type="file"  class="custom-file-input" formControlName="file" (change)="onFileChange($event)">
        </ion-item>
       
        <ion-button  expand="block" box-shadow (click)="postForm()" [disabled]="!form.valid" >
          Submit
        </ion-button>
      </form>

</ion-content>
