<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>User Information</ion-title>
    <ion-buttons slot="secondary">
        <ion-button (click)="close()">
          <ion-icon slot="start" name="close"></ion-icon>
          
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userprofile">
    <div id="user_profile" class="modal-body" style="padding: 2em;">
                <div class="col-md-12" >
                <div class="card hovercard">
                  <div class="cardheader">
        
                  </div>
                  <div class="avatar">
               <img alt="" src="{{userprofile.user.image?(ServerUrl+userprofile.user.image):(userprofile.user.Gender==1?maleimage:femaleimage)}}">
                 </div>
                  <div class="info">
                    <div class="title">
                      <h5>{{userprofile.user.name}}  {{userprofile.user.last_name}}</h5>
                    </div>
                    <div class="desc">
        {{userprofile.userType}}            </div>
                    <div class="desc">
        {{userprofile.user.email}}            </div>
                    <div class="desc">{{userprofile.user.mobile}}</div>
                  </div>
                  
                </div>
        
              </div></div>
          <ion-grid>
            <ion-row>
              <ion-col>Total Posts</ion-col>
              <ion-col>{{userprofile.user.articles.length}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>Total Comments</ion-col>
                <ion-col>{{userprofile.user.comments.length}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Total Replies</ion-col>
                <ion-col>{{userprofile.user.replies.length}}</ion-col>
              </ion-row>
          </ion-grid>
</ion-content>
